<!DOCTYPE html>
<html>
<head>
    <title>About Project</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="fade-in">

<nav class="navbar">

    <h2>Fraud Detector</h2>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/predict">Predict</a></li>
        <li><a href="/history">History</a></li>
        <li><a href="/about">About</a></li>
    </ul>

</nav>

<div class="container">

    <h1>About Project</h1>

    <p style="line-height:30px; text-align:center;">

        This Credit Card Fraud Detection System
        uses Machine Learning to identify
        fraudulent transactions.

        <br><br>

        The project is developed using:

        <br><br>

        Flask<br>
        HTML<br>
        CSS<br>
        SQLite<br>
        Random Forest Model

        <br><br>

        It helps detect fraud transactions
        and provides confidence scores.

    </p>

</div>

</body>
</html>