<!DOCTYPE html>
<html>
<head>
    <title>Predict Transaction</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="fade-in">

<nav class="navbar">

    <h2>Fraud Detector</h2>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/predict">Predict</a></li>
        <li><a href="/history">History</a></li>
        <li><a href="/about">About</a></li>
    </ul>

</nav>

<div class="container">

    <h1>Predict Transaction</h1>

    <form method="POST">

        <label>Time</label>

        <input
            type="number"
            name="Time"
            step="any"
            required
            placeholder="Enter Time"
        >

        <label>Amount</label>

        <input
            type="number"
            name="Amount"
            step="any"
            required
            placeholder="Enter Amount"
        >

        <button type="submit">
            Predict Fraud
        </button>

    </form>

</div>

</body>
</html>